

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');


*,*::before,*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    transition: all .5 ease-in-out;
}

.container-desktop-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    margin: 90px auto;
  }


  @media only screen and (max-width:769px) {
    .container-desktop-team {
        display: none;
    }
  }
  
  

/* Mobile View */
/* CSS for mobile view */
.hide-mobile-design { display: none;}
@media (max-width: 767px) {
  .container--test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 70px auto;
  }

  .container-mobile-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 100px auto;
  }
  
  .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    max-height: 220px;
  }

  .mobile-grid {
    /* background-color: black; */
    position: relative;
    margin-bottom: 10px;
  }

  .mobile-grid-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;


    display: -webkit-box;


    display: -ms-flexbox;


    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #fff;
  }


  .mobile-grid-content .content h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .mobile-grid-content .content p {
    font-size: 12px;
  }
  
  .bg-mobile-orange {
    background-color: rgba(235, 125, 35, 0.76);
  }

  .bg-mobile-teal {
    background-color: rgba(0, 129, 129, 0.616);
  }

  .bg-mobile-purple {
    background-color: rgba(72, 62, 123,  0.616);
  }

  .bg-mobile-light-teal {
    background-color: rgba(109, 202, 183, 0.616);
  }

  .top--mobile-grid {
    margin-top: -75px;
  }
  .mobile--grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px auto;
  }
  .mobile--grid .btn-grid {
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    color: #008080;
    border: 4px solid #008080;
    background-color: #fff;
    outline: none;
  }
  }